.debug{
    background-color: rgba(255, 0, 0, .25);
    border: 1px solid green;
}

body{
    font-family: 'Roboto', sans-serif;
}

aside{
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
}

header{
    height: 70px;
    background-color: #f8f9fa;
}

main , aside {
    height: calc(100vh - 70px );
}

.sc-btn{
    color: white;
    background-color: #155cba;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    height: 22px;
    border-radius: 20px;
}

.sc-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 1rem;
    color: white;
    margin-right: 10px;
}

.sc-table {
    font-size: .9rem;
}


.sc-table th , td{
   text-align: center;
}

.sc-table th.sc-w-60{
    text-align: left;
}

.sc-table thead{
    border-bottom:1px solid black;
}

.sc-table a.btn{
    padding: 0;
    font-size: .7rem;
    padding:0 4px;
}

.sc-fs-little{
    font-size: .8rem;
}

/********** header ***********/
.header-row{
    height: 40px;
}

.header-left img{
    max-height: 40px;
    object-fit: contain;
}

.header-center .bi-search{
    font-size: .8rem;
}

.header-center{
    background-color: #e5e5e5;
    border-radius: 3px;
}

.header-center .form-control{
    transition: none;
}

.header-center .form-outline input{
    border: 0;
    background-color: transparent;
}

.header-right{
    color: #5b5858;
}

.header-right .bi-bell-fill{
    color: #ff8f00;
}

.header-right .d-none :nth-child(n){
    padding-right: 30px;
}

/********** /header ***********/

/********** aside ***********/

aside{
    padding: 10px 0;
}

aside .icon{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.aside-top .icon i,
.aside-bottom .icon i{
    font-size: 1.2rem;
    padding-right: 5px;
}

.aside-top .icon span{
    font-size: 14px;
}

.wrapper .bg-black{
    background-image: url("../img/sidebar-bg.png");
}

/********** /aside ***********/


.sc-w-60{
    width: calc(60%);
}

.sc-w-22{
    width: 22%;
}




.sc-modal{
    width: 80%;
    margin-left: 100%;
    transition: all 1s;
    
    
}

.sc-modal.show{
    margin-left:20%;
}
